.navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }

  #nav-list {
    margin-top: 10px;
  }

  #nav-list a {
    color: #951C49;
    text-align: center;
  }

  #nav-list a:hover {
    background: #E7E7E7;
  }
  #nav-list a span {
    font-size: 1.8em;
  }

  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }

  #MainText{
      box-sizing: border-box;
      display: flex;
      background-color: gray;
      margin: 2%;
      width: 100%;
      position: relative;
  }

  #MainText h3{
    
    box-sizing: border-box;
    text-align: center;
  }
