h1 {
      text-align: center;
}

#p1 {
    background-color: yellow;
}

#p2{
    background-color: blueviolet;
}

#p3{
    background-color: darkgreen;
}


#Chicken {
    background-color: blue;
}

#Beef {
    background-color: red;
}

#Sushi{
    background-color: yellow;
}